{% extends 'base.html.twig' %}

{% block title %}Mentions Légales - La Boutique Française{% endblock %}

{% block content %}
    <h2>Mentions Légales</h2>
    <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l’économie numérique, il est précisé aux utilisateurs du site la-boutique-francaise.immacora.com l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
    <hr>
    <h5><strong>Edition du site</strong></h5>
    <p>Le site la-boutique-francaise.immacora.com est édité à titre d'exemple de projet de site web.</p>
    <h5><strong>Responsable de publication</strong></h5>
    <p>Coralie Immacolato</p>
    <h5><strong>Contact</strong></h5>
    <p>contact.laboutiquefrancaise@immacora.com</p>
    <h5><strong>Hébergeur</strong></h5>
    <p>Le site la-boutique-francaise.immacora.com est hébergé par Hostinger</p>

{% endblock %}
